{
  "extends": ["stylelint-config-recommended"],
  "customSyntax": "@stylelint/postcss-css-in-js",
  "rules": {
    "no-empty-source": null,
    "no-duplicate-selectors": null,
    "function-no-unknown": null
  }
}
