<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apollon</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>
  <body>
    <header class="navbar">
      <a class="navbar-brand logo float-left">
        <img class="logo-img" src="images/logo.png"/>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <span class="navbar-title">Apollon</span>&nbsp;&nbsp;&nbsp;<span class="navbar-version"><%=htmlWebpackPlugin.options.version%></span>
      </a>
    </header>
    <div class="container">
      <main id="apollon"></main>
      <aside class="sidebar">
        <section>
          <h3 class="header">Diagram Type</h3>
          <div class="dropdown">
            <select name="type" onchange="apollon.onChange(event)">
              <option value="ClassDiagram">Class Diagram</option>
              <option value="ObjectDiagram">Object Diagram</option>
              <option value="ActivityDiagram">Activity Diagram</option>
              <option value="UseCaseDiagram">Use Case Diagram</option>
              <option value="CommunicationDiagram">Communication Diagram</option>
              <option value="ComponentDiagram">Component Diagram</option>
              <option value="DeploymentDiagram">Deployment Diagram</option>
            </select>
          </div>
        </section>
        <section>
          <h3 class="header">Language</h3>
          <div class="dropdown">
            <select name="locale" onchange="apollon.onChange(event)">
              <option value="en">English</option>
              <option value="de">German</option>
            </select>
          </div>
        </section>
        <section>
          <h3 class="header">Mode</h3>
          <div class="dropdown">
            <select name="mode" onchange="apollon.onChange(event)">
              <option value="Exporting">Exporting</option>
              <option value="Modelling">Modelling</option>
              <option value="Assessment">Assessment</option>
            </select>
          </div>
          <label>
            <input class="checkbox" type="checkbox" name="readonly" onchange="apollon.onSwitch(event)" />
            read-only
          </label>
        </section>
        <section>
          <h3 class="header">Export</h3>
          <div class="switch">
            <button onclick="apollon.draw()">All</button>
            <button onclick="apollon.draw('include')">Include</button>
            <button onclick="apollon.draw('exclude')">Exclude</button>
          </div>
        </section>
        <section>
          <h3 class="header">State</h3>
          <div class="switch">
            <button onclick="apollon.save(event)">Save</button>
            <button onclick="apollon.clear(event)">Clear</button>
          </div>
        </section>
      </aside>
    </div>
  </body>
</html>
