body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-grow: 2;
  margin: 20px;
}

main {
  flex: 1 0 auto;
  width: 800px;
}

aside.sidebar {
  flex: 0 0 10em;
  margin-left: 1em;
}

aside.sidebar section {
  margin-bottom: 1em;
}
aside.sidebar section > div {
  margin-bottom: 0.5em;
}

/**
 * Navbar
 */

.navbar {
  background-color: #353d47;
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.6em 1em;
}

.navbar-title {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1.125rem;
  color: #ffffff;
}

.navbar-brand.logo {
  padding: 10px 15px;
}

.navbar-brand.logo .logo-img {
  height: 30px;
  vertical-align: middle;
}

.navbar-version {
  font-size: 10px;
  color: #ccc;
}

/**
 * Header
 */
.header {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/**
 * Dropdown
 */
.dropdown {
  position: relative;
}

.dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 1em;
  width: 100%;
}

.dropdown select {
  width: 100%;
  background: white;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0;
  line-height: 1.5;
  border-radius: 0.25rem;
  white-space: pre-wrap;
  padding: 0.375rem 1.25rem 0.375rem 0.75rem;
}

.dropdown::before {
  content: '▾';
  font-size: 1rem;
  position: absolute;
  right: 0.75rem;
  line-height: 1.5;
  top: 0.375rem;
  pointer-events: none;
}

.dropdown select::-ms-expand {
  display: none;
}

.dropdown select:focus::-ms-value {
  background-color: transparent;
}

/**
 * Switch
 */
.switch {
  display: flex;
  justify-content: space-between;
}

.switch button {
  width: 100%;
  background: white;
  color: #212529;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left: none;
  padding: 0.375rem 0.75rem;
  margin: 0;
  line-height: 1.5;
  outline: none;
}

.switch button:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.switch button:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.switch button:hover {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.switch button:active {
  background-color: #dae0e5;
  border-color: #d3d9df;
}

/**
 * Checkbox
 */

.checkbox {
  vertical-align: middle;
}
