# Ignore source & config
src/**
.vscode/**
vite.config.ts
.github/**
.gitignore
**/tsconfig.json
**/eslint.config.mjs
**/*.ts
**/*.tsbuildinfo

# Ignore node_modules
node_modules/**

# Ignore menu except dist
menu/**
!menu/dist/**

# Ignore editor except dist
editor/**
!editor/dist/**
